html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    font-family: Montserrat;
}
nav{
    background-color: #4C5454;
    height: 100%;
    top: 0;
    right: 0;
    width: 275px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.navlist{
    padding: 20px;
    padding-top: 75px;
    justify-self: center;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    padding: 20px;
}

nav a:hover{
    text-decoration: none;
    color: #6DD3CE;
    transition: 0.3s;
}
nav hr {
    width: 135px;
    margin: 20px;
}

nav img {
    min-width: 110px;
    min-height: 110px;
    max-width: 170px;
    max-height: 170px;
    padding: 20px;
    justify-self: start;
}
#navicon, #closebtn{
    visibility: hidden;
}

main {
    width: 100%;
    transition: margin-left .5s;
    text-align:center;
}

.intro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-break: 1em;
}
.gradient {
    background-image: -webkit-linear-gradient(left, #6DD3CE, #7A94F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
  }

.about{

}
@media screen and (max-width: 800px) {
    nav {
        width: 0px;
        align-items: center;
    }
    nav img {
        max-width: 140px;
        max-height: 140px;
        justify-self: start;
        padding-top: 40px;
    }
    nav a{
        font-size: 18px;
    }
    .navlist {
        padding: 50px 0 0 0;
    }
    nav hr {
        width: 80px;
    }
    #navicon {
        font-size:30px;
        cursor:pointer;
        visibility: visible;
        color: #4C5454;
        padding: 5px;
    }
    nav #closebtn {
        visibility: visible;
        top: 0;
        font-size: 36px;
        align-self: flex-end;
    }


  }
