html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    font-family: Montserrat;
}
nav{
    background-color: #4C5454;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: 0.5s;
    width: 250px;
    align-items: center;
}
.navlist{
    padding: 20px;
    padding-top: 75px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    padding: 20px;
}

nav a:hover{
    text-decoration: none;
    color: #6DD3CE;
    transition: 0.3s;
}
nav hr {
    width: 135px;
    margin: 20px;
}

nav img {
    min-width: 110px;
    min-height: 110px;
    max-width: 170px;
    max-height: 170px;
    padding: 20px;
    padding-top: 80px;
    justify-self: start;
}
#navicon, #closebtn{
    visibility: hidden;
}

main {
    width: 100%;
    margin-left: 240px;
}

.intro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-break: 1em;
}
.gradient {
    background-image: -webkit-linear-gradient(left, #6DD3CE, #7A94F1);
  }

.text{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
  }
.bar{
    width: 100%;
    height: 25px;
    padding: 0;
}

.about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("media/background/about-bg.jpg") ;
    background-position:left;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.about h1{
    font-size: 24px;
    padding: 35px 0 0 50px;
}

.about .aboutinside{
    font-size: 14px;
    padding-left: 75px;
    display: flex;
}
.about .name{
    font-size: 18px;
    font-weight: 700;
}
.about .aboutlist{
    padding-left: 40px;
}
.aboutlist p{
    display: flex;
}

.about #status{
    font-weight: 700;
    padding-top: 0px;
}
#profile {
    width: 300px;
    height: 300px;
    flex-basis: 200px;
    order: 2;
    padding: 30px;
}
@media only screen and (min-width: 350px) and (max-width: 800px) {
    nav {
        width: 0px;
        height: 100%;
        top: 0;
        align-items: center;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        left: 0;
    }
    nav img {
        width: 140px;
        height: 140px;
        justify-self: start;
        padding-top: 40px;
    }
    nav a{
        font-size: 18px;
    }
    .navlist {
        padding: 50px 0 0 0;
    }
    nav hr {
        width: 80px;
    }
    #navicon {
        font-size:30px;
        cursor:pointer;
        visibility: visible;
        color: #4C5454;
        padding: 15px;
        right: 25px;
    }
    nav #closebtn {
        visibility: visible;
        top: 0;
        font-size: 36px;
        align-self: flex-end;
    }
    main{
        margin-left: 0;
    }
    .aboutinside{
        flex-direction: column;
        padding: 25px;
        padding-top: 0px;
    }
    #profile{
        order: 0;
        padding: 0;
    }
    .svg-padding{
        padding-right: 15px;
    }
  }
  @media only screen and (max-width: 350px) {
    nav {
        width: 0px;
        height: 100%;
        top: 0;
        align-items: center;
        overflow-x: hidden;
        position: fixed;
        z-index: 1;
        left: 0;
    }
    nav img {
        width: 10px;
        height: 10px;
        padding: 0px;
    }
    nav a{
        font-size: 14px;
    }
    .navlist {
        padding-top: 50px;
    }
    nav hr {
        width: 80px;
    }
    #navicon {
        font-size:30px;
        cursor:pointer;
        visibility: visible;
        color: #4C5454;
        padding: 15px;
        right: 25px;
    }
    nav #closebtn {
        visibility: visible;
        top: 0;
        font-size: 36px;
        align-self: flex-end;
    }
    main{
        margin-left: 0;
    }
    .aboutinside{
        flex-direction: column;
        padding: 0px;
        padding-top: 0px;
    }
    #profile{
        order: 0;
        padding: 0;
        width: 100px;
        height: 100px;
    }

  }
 
