
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem ;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 189; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%) ;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Noto Sans JP', sans-serif;;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size:2rem ;
    --h1-font-size:1.5rem ;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

a{
    text-decoration: none;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.2rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

html{
    height: 100%;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}
body{
    height: 100%;
    display: flex;
    font-family: Montserrat;
    position: relative;
    overscroll-behavior: none;
}

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right:  var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

nav{
    background-color: #4C5454;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: 0.5s;
    width: 250px;
    align-items: center;
}
.navlist{
    padding: 20px;
    padding-top: 50px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    padding: 20px;
}

nav a:hover{
    text-decoration: none;
    color: #6DD3CE;
    transition: 0.3s;
}
nav hr {
    width: 135px;
    margin: 20px;
}

nav img {
    min-width: 110px;
    min-height: 110px;
    max-width: 170px;
    max-height: 170px;
    padding: 20px;
    padding-top: 80px;
    justify-self: start;
}
#navicon, #closebtn{
    visibility: hidden;
}

.nav__icon{
    font-size: 1.2rem;
    padding: 0.5rem;
}

main {
    width: 100%;
    margin-left: 240px;
}

.intro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-break: 1em;
}
.gradient {
    background-image: -webkit-linear-gradient(left, #6DD3CE, #7A94F1);
  }

.text{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 700;
  }
  
.bar{
    width: 100%;
    height: 25px;
    padding: 0;
}

#about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("media/background/about-bg.jpg") ;
    background-position:left;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#about h1{
    font-size: 1.5rem;
    padding: 35px 0 0 50px;
}

#about .aboutinside{
    font-size: var(--medium-font-size);
    padding-left: 75px;
    display: flex;
    justify-content: space-evenly;
}
#about .aboutlist{
    padding-left: 50px;
}
.aboutlist p{
    display: flex;
}

#about #status{
    font-weight: 700;
    font-size: var(--medium-font-size);
    padding-top: 0px;
}



#profile {
    width: 250px;
    height: 250px;
    flex-basis: 200px;
    order: 2;
    padding: 30px;
}

.about__icon{
    font-size: 1.5rem;
    padding-right: 0.5rem;
}


.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    margin: 1rem;
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.about__buttons{
    display: flex;
    justify-content: center;
}

/* #skills{
    background-image: url("media/background/skill-bg.png");
    background-position:left;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: #4C5454;
} */

#skills h1{
    font-size: 1.5rem;
    padding: 35px 0 0 50px;
}

/* 
#skills a, span{
    font-size: 18px;
    font-weight: 600;
    color:#FFFFFF;
    text-decoration: none;
} */
/* 
#language-text{
    color:#6DD3CE;
}

/*==================== SKILLS ====================*/
.skills__container{
    row-gap: 2rem;
}
.skills__header{
    display: flex;
    align-items: center;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2-5);
}
.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}
.skills__icon{
    margin-right: var(--mb-0-75);
}
.skills__content{
    padding: 1.5rem;
}
.skills_cards{
  margin: 0 auto;
  display: grid;
  grid-gap: 4rem;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(80px, 2fr));
}

.skills_card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: var(--medium-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    padding: 2rem;
    background-color: var(--first-color-second);
    border-radius: 0.5rem;
}
.skills__arrow{
    margin-left: auto;
    transition: .4s;
}
.skills__contenticon{
    font-size: 3.5rem;
    color: #FFF;
}
/* 
.skills__close .skills__list{
    height: 0;
    overflow: hidden;
} */
.skills__open .skills__list
{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow
{
    transform: rotate(-180deg);
}

#projects h1, #design-project h1{
    font-size: 1.5rem;
    padding: 35px 0 0 50px;
}
#projects{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("media/background/project-bg.jpg");
    background-position:left;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
#design-project{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("media/background/design-bg.jpg");
    background-position:left;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.project-info{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.project-card{
    background-color: rgba(76,84,84,0.95);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    flex-basis: 22%;
    display: flex;
    position: relative;
    flex-direction: column;
    text-decoration: none;
}

.project__cards{
    display: grid;
    grid-gap: 1.5rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}


.project-card:hover{
    background-color: #6dd3ce;
    transition: 0.4s;
}

.project-card:hover .project-heading{
    color: rgba(76,84,84,0.95);
    transition: 0.4s;
}

 .even img{
    width: 75px;
    height: 75px;
    align-self: center;
}
 .odd img {
    width: 50px;
    height: 50px;
    align-self: center;
    padding: 15px;

}

.project__picture{
    width: 325px;
    align-self: center;
}

.project__card:hover p{
    color: rgba(76,84,84,0.95);
    transition: 0.4s;
}

.project-heading{
    color:#6DD3CE;
    font-weight: 700;
    font-size: 1.25rem;
}
.project-description{
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

#design-project p{
    color: #FFFFFF;
}

.project-card:hover{
    background-color: #6dd3ce;
    transition: 0.4s;
}

#contact h1{
    font-size: 1.5rem;
    padding: 35px 0 0 50px;
}
.contact-icon{
    width: 100%;
    height: fit-content;
    background-color: #4C5454;
    display: flex;
    justify-content:center;
    align-content: center;
}
/* .contact-icon img{
    width: 50px;
    height: auto;
    padding: 15px;
    fill: #FFFFFF;
} */

.footer__social{
    font-size: 2.75rem;
    margin: var(--mb-1-5);
    color: #FFF;
}
.footer__social:hover{
    color: var(--first-color-lighter);
}


#contact{
    margin-bottom: 50px;
}

#contact-img{
    position:absolute;
    right: 0;
    top: 95%;
}
@media only screen and (min-width: 800px) and (max-width: 1292px) {
    #contact-img{
        display: none;
    }
    .contact-icon::before{
        content: "";
        padding-left: 0px;
    }
    .contact-icon{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

@media only screen and (min-width: 350px) and (max-width: 800px) {
    nav {
        width: 0px;
        height: 100%;
        top: 0;
        align-items: center;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        left: 0;
    }
    nav img {
        width: 140px;
        height: 140px;
        justify-self: start;
        padding-top: 40px;
    }
    nav a{
        font-size: 18px;
    }
    .navlist {
        padding: 50px 0 0 0;
    }
    nav hr {
        width: 80px;
    }
    #navicon {
        font-size:30px;
        cursor:pointer;
        visibility: visible;
        color: #4C5454;
        padding: 15px;
        right: 25px;
    }
    nav #closebtn {
        visibility: visible;
        top: 0;
        font-size: 36px;
        align-self: flex-end;
    }
    main{
        margin-left: 0;
    }
    .aboutinside{
        flex-direction: column;
        padding: 25px;
        padding-top: 0px;
    }
    #profile{
        order: 0;
        padding: 0;
    }
    .img-padding{
        padding-right: 15px;
    }


    #contact-img{
        visibility: hidden;
    }
    .contact-icon img{
        width: 35px;
        height: auto;
        padding: 10px;
        fill: #FFFFFF;
    }
    
    .contact-icon::before{
        content: "";
        padding-left: 0px;
    }
    .contact-icon{
        display: flex;
        justify-content: center;
        align-content: center;
    }
  }
  @media only screen and (max-width: 350px) {
    nav {
        width: 0px;
        height: 100%;
        top: 0;
        align-items: center;
        overflow-x: hidden;
        position: fixed;
        z-index: 1;
        left: 0;
    }
    nav img {
        width: 10px;
        height: 10px;
        padding: 0px;
    }
    nav a{
        font-size: 14px;
    }
    .navlist {
        padding-top: 50px;
    }
    nav hr {
        width: 80px;
    }
    #navicon {
        font-size:30px;
        cursor:pointer;
        visibility: visible;
        color: #4C5454;
        padding: 15px;
        right: 25px;
    }
    nav #closebtn {
        visibility: visible;
        top: 0;
        font-size: 36px;
        align-self: flex-end;
    }
    main{
        margin-left: 0;
    }
    .aboutinside{
        padding: 0px;
        padding-top: 0px;
    }
    #profile{
        order: 0;
        padding: 0;
        width: 200px;
        height: 200px;
    }
    .img-padding{
        padding-right: 25px;
    }
  }
 
